<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.bitto.kazi.server"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="us.bitto.kazi.server.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="us.bitto.kazi.server.AddClass"
            android:label="Add Class" />
        <activity
            android:name="us.bitto.kazi.server.ViewClass"
            android:label="View Class Student" />
        <activity
            android:name="us.bitto.kazi.server.StartClass"
            android:label="Start Class" />
        <activity
            android:name="us.bitto.kazi.server.VIewAtt"
            android:label="View Class Attendance" />
        <activity
            android:name="us.bitto.kazi.server.DetailsAtt"
            android:label="Present Students" />
        <activity
            android:name="us.bitto.kazi.server.ViewClassStudent"
            android:label="Class Student Info" />
        <activity
            android:name="us.bitto.kazi.server.AddSem"
            android:label="Add Semester" />
    </application>

</manifest>
